# requirements.txt
streamlit
pandas
openpyxl
requests
beautifulsoup4
transformers
torch
groq
spacy==3.7.4  # Behalten wir bei, das war ein wichtiger Fix
nltk
matplotlib
wordcloud
seaborn
python-dotenv==1.2.1


# NEU: Für Kununu-Scraper (Punkt 2)
selenium
altair