streamlit
pandas
openpyxl
requests
beautifulsoup4
transformers
torch
groq
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0.tar.gz
nltk
matplotlib
wordcloud
seaborn
python-dotenv==1.2.1


selenium
webdriver-manager
altair
